/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	width: 100%;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-top: 30px;
}
.header-container {

	width: 1140px;
	margin: auto;
}
main {
	max-width: 1140px;
	margin: auto;
}

footer {

	max-width: 1140px;
	margin: auto;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}


li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Contenedor de los filtros */
.category-menu {
	display: flex;  /* los elementos hijo (filtros) se mostrarán en línea */
	flex-direction: row;
	justify-content: center;  /* los elementos hijo se distribuirán de manera uniforme a lo largo de la línea */
	width: 100%;
	height: 37px;
	margin-bottom: 15px;  /* agregar un margen inferior para separar la barra de filtros de la galería de imágenes */
  }
  
  /* Estilo de los botones de filtros */
  .category-menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1D6154;
	color: #1D6154;
	background-color: white;
	cursor: pointer;
	border-radius: 18.5px; /* Para hacer los bordes redondeados */
	padding: 5px 10px; /* Ajusta el padding para que los botones no sean cuadrados */
	margin-right: 10px; /* Añade un poco de margen a la derecha para separar los botones */
	transition: background-color 0.2s, color 0.2s; /* Transición suave al cambiar el color de fondo y el color del texto */
  }
  
  .category-menu-item:hover {
	background-color: #1D6154;
	color: white;
  }
  
  /* Para asegurarnos de que el último elemento no tenga margen a la derecha */
  .category-menu-item:last-child {
	margin-right: 0;
  }

 
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.modal-content {
    margin: 0 auto;  
    width: 50%;
    padding: 20px;
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}

.modal-content h2 {
    margin-bottom: 30px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 15px;
}

.modal-content form label {
    color: black;
    text-align: left;
    width: 100%;
}

.modal-content .input-container {
    display: flex;
    align-items: center;
}

.modal-content .input-container label {
    width: 120px;
    text-align: left;
}

.modal-content .input-container input[type="text"],
.modal-content .input-container input[type="password"] {
    width: 357px;
    margin-left: 10px;
	border: none;
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.1);
}

.modal-content input[type="submit"] {
    width: 179px;
    height: 36px;
    border-radius: 60px;
    background-color: #1D6154;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-content input[type="submit"]:hover {
    background-color: #0a3c2b;
}

.modal-content a {
    margin-top: 20px;
    text-decoration: underline;
	color: black;
}
.modal-content form .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-content form .input-container label {
    padding-left: 10px;
	margin-bottom: 10px;
}


/* Le header noir administrateur */
.bannernoir {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 59px;
	justify-content: center; /* Añadido */
}

.adminHeader {
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 0px;
}

.adminHeader-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.adminHeader-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
	
}

.far.fa-edit {
	color: white; /* Cambiar el color del icono a blanco */
	font-size: 20px;
  }
  
#publishButton {
	border-radius: 25px;
	background-color: #fff;
	color: #000;
	padding: 10px 20px; /* Ajustar el padding del botón */
	border: none;
	cursor: pointer;
}


#publishButton:hover {
	background-color: #ccc; /* Modificado */
}

#publishButton:focus {
	outline: none;
}

#publishButton:active {
	background-color: #999; /* Modificado */
}



	/* Agrega aquí los estilos para el icono */


.adminHeader p {
	margin: 0;
}

.adminHeader button {
	margin-left: auto;
	background-color: white;
	color: black;border-radius: 50%;

}
.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
  
  h1 {
	margin-right: auto;
  }
  #portfolio .header {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 25px;
	gap: 15px;
}

#portfolio h2 {
    margin: 0;
}

#portfolio .edit-container {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
	margin-top: 10px;
}

#portfolio .edit-container #edit-icon {
    width: 18px;
    height: 18px;
}

.ButtonModifier a{
	text-decoration: none;
	color: black;
}
.ButtonModifier {
    width: 58px;
    height: 16px;
	color: black;  
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: none;
	border: none;
	color: black;
	
}



.modali {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	
	
  }

.modal-wrapper { 
	background-color: white;
	width: 630px;
	height: 730px;
	padding: 10px;
	overflow: auto;
	position: relative;
	border-radius: 15px;
	top: 150px;
	left: 0;
	margin: 0 auto;
	
	
  }

  .close  {
    position: absolute;
    right: 20px;
    top: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.close:hover {
    color: red;
}
.closee  {
    position: absolute;
    right: 20px;
    top: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.closee:hover {
    color: red;
}

  #add-photo {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	color: white;
	background-color: #1D6154;
	border-color: #1D6154;
	position: absolute;
	bottom: 100px;
	left: 220px;
  }
  .modal-wrapper p {
	width: 230px;
	height: 17px;
	top: 1326px;
	left: 604px;
	color: #D65353;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
  }
  .sup {
	width: 230px;
	height: 17px;

  }
  
  .sup button {
	background: white;
	border: white;
	color: #D65353;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
  }
  
  .sup {
	position: absolute;
	bottom: 60px;
	left: 220px;
  }
  .modal-wrapper h2 {
	font-family: "Work Sans";
	color: black;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
  }
  
 
.blueim {
    position: relative;
    left: 60px;
	top: 15px;
    /* otros estilos... */
}

.modiftext{
	position: relative;
	bottom: 40px;
}
.login-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	font-family: "Syne", sans-serif;
	width: 100%;
	height: 100vh;
  }

  .login-title {
	color: #1D6154;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 242px;
  }

  .login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .input-containe {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #3D3D3D;
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 20px;
	width: 370px;
	height: 51px;
  }

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: start;

  }

  .login-button {
	background-color: #1D6154;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	width: 179px;
	height: 36px;
	margin-top: 20px;
	margin-bottom: 20px;
  }

  .forgot-password {
	color: #3D3D3D;
	text-decoration: underline;
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	background: white;
  }

.inputi {
	width: 371px;
	height: 31px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00000000000000000001);
	
	
}

.quit a {
	text-decoration: none;
	color: black;
	font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
	
}

.qui a {
	text-decoration: none;
	color: black;
	font-family: Work Sans;
font-size: 16px;
font-weight: bold;
line-height: 19px;
letter-spacing: 0em

}

.ButtonModifier2 {
	color: black;
}

.projeti {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 5px;
}

.ButtonModifier2 {
	width: 58px;
    height: 16px;
	color: black;  
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: none;
	border: none;
	color: black;
	
}

.projeti i { 
	margin-top: 5px;
}

#fotomodal {
	padding-top: 20px;
	padding: 0 70px; /* Aplica padding de 70px a los lados del contenedor */
	display: flex; /* Utiliza el modelo de caja flexible */
	flex-wrap: wrap; /* Permite que las imágenes se envuelvan en varias líneas si es necesario */
	gap: 20px; /* Establece un espacio de 10px entre cada imagen */
	justify-content: flex-start; /* Centra las imágenes horizontalmente */
  }
  
  #fotomodal img {
	width: 76.86280059814453px;
	height: 102.56774139404297px;
	margin: auto; /* Centra las imágenes verticalmente */
  }

  #fotomodal figure {
	position: relative;
  }
  

  #fotomodal .edit-button {
	position: absolute;
	bottom:  -24px;
	left: 0;
	width: 100%;
	background-color: transparent;
	padding: 8px;
	text-align: flex-start;
	border: none;
		
  }
  
  #fotomodal .enlarge-icon {
	position: absolute;
	top: 8px;
	right: 23px;
	color: black;
	cursor: pointer;

  }  
  #fotomodal .delete-icon {
	position: absolute;
	top: 8px;
	right: 8px;
	color: black;
	cursor: pointer;
  }
  #form-container {
	width: 630px;
	height: 730px;
	padding: 10px;
	overflow: auto;
	position: relative;
	border-radius: 15px;
	margin: 0 auto; /* Centra el contenedor horizontalmente */
	top: -600px;
	 }

.add-photo-form{ 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto, 0;
}

.back-form { 
	color: black;
	position: relative;
	left: -300px;
	font-size: 18px;
}

.fofo {
display: flex;
flex-direction: column;
align-items: center;

}
.fofo .ajout {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	padding-bottom: 15px;
	background-color: rgba(232, 241, 246, 1);
	padding-top: 30px;
  }
  
  .fofo .ajout .ajo {
	width: 173px;
	height: 36px;
	background-color: rgba(203, 214, 220, 1);
	border-radius: 50px;
	color: rgba(48, 102, 133, 1);
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
  }
  
  .fofo .ajout .jpg {
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(68, 68, 68, 1);
  }
  
  .fofo .ajout #photo-input {
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: rgba(232, 241, 246, 1);
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: none;
	border: none;
	color: rgba(68, 68, 68, 1);
	border-radius: 15px;
  }

  .custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	background-color: rgba(203, 214, 220, 1);
	border-radius: 50px;
	color: rgba(48, 102, 133, 1);
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
  }
  
  .custom-file-upload input[type="file"] {
	display: none;
  }
  .file-info {
	margin-top: 10px;
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(68, 68, 68, 1);
  }
  
.titi {
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
	background-color: rgba(255, 255, 255, 1);
	padding-top: 20px;
	width: 420px;
	height: 51px;
	color: rgba(61, 61, 61, 1);
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	
	

}

.titi #title-input{
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.caca {
	display: flex;
flex-direction: column;
padding-bottom: 15px;
background-color: rgba(255, 255, 255, 1);
padding-top: 20px;
width: 420px;
height: 51px;
color: rgba(61, 61, 61, 1);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;




}

.caca #category-select {
	width: 420px;
height: 51px;
box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
margin-top: 5px;
position: center;


}

.vava #submit-photo {

	width: 237px;
    height: 36px;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: gray;
	border: none;
	border-radius: 25px;
	padding-bottom: 15px;
	color: white;
	margin-top: 15px;
	font-family: Syne;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
align-items: center;
padding-top: 10px;

}
.ajout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
	position: relative;
  }
  
  .ajout img {
	max-width: 220px;
	max-height: 220px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	
  }
  
  
  .ajout label {
	display: none;
  }
  
  .ajout .custom-file-upload {
	display: block;
	margin-bottom: 8px;
  }
  